<!DOCTYPE html>
<html ng-app="PrivateBower">
<head lang="en">
    <meta charset="UTF-8">
    <title>Private Bower Registry</title>

    <link rel="stylesheet" href="vendor/bootstrap/dist/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/animate/animate.min.css">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="private-bower.css">

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-animate.min.js"></script>

    <script src="modules.js"></script>

    <script src="controllers/mainController.js"></script>
    <script src="controllers/authenticationController.js"></script>

    <script src="directives/dialog.js"></script>

    <script src="interceptors/notAuthenticatedInterceptor.js"></script>

    <script src="services/userContextService.js"></script>
</head>
<body ng-controller="mainController as mainController">
    <div id="wrap">
        <div class="jumbotron">
            <div class="container text-center animated fadeInDown">
                <h1 class="page-title">Startups.co Private Bower Repository</h1>
                <div style="position: relative;">
                    <span class="glyphicon glyphicon-search keep-right" style="position: absolute;"></span>
                    <input ng-model="packageFilter" class="form-control search" placeholder="Search Package">
                    <button class="btn btn-primary" ng-click="mainController.addPackageButtonClick()" style="position: relative; top: -2px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="keep-top">
                    <a href="http://hacklone.github.io/private-bower"
                       target="_blank" class="btn btn-default">
                        Docs
                    </a>
                    <a href="http://bower.io/search/" target="_blank" class="btn btn-warning">
                        Public Packages
                    </a>
                </div>
            </div>
        </div>
        <div class="container animated fadeInUp">
            <div ng-if="mainController.error" class="bg-danger info-box">
                <span class="glyphicon glyphicon-remove keep-right"></span>
                The Private Bower service is down.
            </div>
            <div ng-if="mainController.packages && !mainController.packages.length" class="bg-warning info-box">
                <span class="glyphicon glyphicon-info-sign keep-right"></span>
                No private packages registered.
                <a href="http://github.com/Hacklone/private-bower/blob/master/README.md" target="_blank">
                    Read the documentation regarding registration of packages.
                </a>
            </div>
            <div ng-if="!mainController.packages" class="bg-info info-box">
                <span class="glyphicon glyphicon-info-sign keep-right"></span>
                Loading Packages...
            </div>
            <div ng-if="mainController.packages && mainController.packages.length">
                <div ng-repeat="package in mainController.packages | filter:{ name: packageFilter }" class="package container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h3 style="line-height: 1.5em; cursor: pointer;" class="text-primary" ng-click="mainController.togglePackageDetailsOpened(package)">
                                {{ package.name }}
                            </h3>
                        </div>
                        <div class="col-md-2 col-xs-2 text-right" style="line-height: 2.5em">
                            hits: {{ package.hits }}
                        </div>
                        <div class="col-md-4 col-xs-4 text-right">
                            <button class="btn btn-default"
                                    ng-click="mainController.removePackageButtonClick(package.name)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-if="package.detailsOpened" class="row" style="margin-top: 20px">
                        <div ng-if="!package.details" class="text-center">
                            <span ng-if="!package.detailsError" class="text-info">
                                Loading package details...
                            </span>
                            <span ng-if="package.detailsError" class="text-danger">
                                Failed to load package details! (Your private-bower server needs read access to this Git repository!)
                            </span>
                        </div>
                        <div ng-if="package.details" class="details">
                            <p><strong>URL:</strong> {{ package.url }}</p>
                            <p><strong>Description:</strong> {{ package.details.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <dialog is-opened="mainController.addPackageDialogOpened">
            <div>
                <h2>Add package</h2>
                <div class="form-group">
                    <input class="form-control" placeholder="Package Name" ng-model="packageName">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Package URL" ng-model="packageUrl">
                </div>
                <div class="form-group">
                    <button ng-click="mainController.cancelAddPackageClick()" class="btn btn-default">
                        Cancel
                    </button>
                    <button ng-click="mainController.addPackage(packageName, packageUrl)" class="btn btn-primary">
                        Add
                    </button>
                </div>
                <p ng-if="mainController.addPackageError" class="bg-danger">
                    {{ mainController.addPackageError }}
                </p>
            </div>
        </dialog>
        <dialog is-opened="mainController.removePackageDialogOpened">
            <div>
                <h2>Are you sure you want to delete "{{ mainController.packageToRemove }}"?</h2>
                <div class="form-group keep-top">
                    <button ng-click="mainController.cancelRemovePackageClick()" class="btn btn-default">
                        Cancel
                    </button>
                    <button ng-click="mainController.removePackage(mainController.packageToRemove)" class="btn btn-danger">
                        Continue
                    </button>
                </div>
                <p ng-if="mainController.removePackageError" class="bg-danger">
                    {{ mainController.removePackageError }}
                </p>
            </div>
        </dialog>
        <div ng-controller="authenticationController as authenticationController">
            <dialog is-opened="authenticationController.authenticationDialogOpened">
                <div>
                    <h2>You must authenticate!</h2>
                    <div class="form-group">
                    <input class="form-control" ng-model="authenticationToken" placeholder="Authentication Token">
                    </div>
                    <div class="form-group">
                        <button ng-click="authenticationController.cancelAuthentication()" class="btn btn-default">
                            Cancel
                        </button>
                        <button ng-click="authenticationController.authenticate(authenticationToken)" class="btn btn-primary">
                            Continue
                        </button>
                    </div>
                    <p ng-if="authenticationController.error" class="bg-danger">
                        {{ authenticationController.error }}
                    </p>
                </div>
            </dialog>
        </div>
    </div>
</body>
</html>
